@using ShoeShop.Models.ViewModel
@using System.Globalization;
@model ProductListViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    CultureInfo culture = new CultureInfo("vi-VN"); // Use the Vietnamese culture
    culture.NumberFormat.CurrencySymbol = "VNĐ";
    culture.NumberFormat.CurrencyDecimalDigits = 0; // Số thập phân của tiền tệ (0 tức là không có phần thập phân)
    culture.NumberFormat.CurrencyGroupSeparator = ",";
}
<div class="wrapper">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area mt-0">
        <div class="container">
            <div class="breadcrumb">
                <ul class="d-flex align-items-center">
                    <li><a href="Home">Trang chủ</a></li>
                    <li class="active"><a href="ProductLists?page=1">Sản phẩm</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- Shop Page Start -->
    <div class="main-shop-page pt-50 pb-100 ptb-sm-60">
        <div class="container">
            <!-- Row End -->
            <div class="row">
                <!-- Sidebar Shopping Option Start -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="sidebar">
                        <!-- Price Filter Options End -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-40">
                            <h3 class="sidebar-title">Loại gạch</h3>
                            <ul class="sidbar-style" style="margin-left: 30px">
                                <li class="form-check">
                                    <a href="ProductLists?page=1">+ Tất cả</a>
                                </li>
                                <li class="form-check" style="color: black">
                                    <a href="ListByType?type=Gạch lát nền&page=1">+ Gạch lát nền</a>
                                </li>

                                <li class="form-check">
                                    <a href="ListByType?type=Gạch ốp tường&page=1">+ Gạch ốp tường</a>
                                </li>
                                <li class="form-check">
                                    <a href="ListByType?type=Gạch trang trí&page=1">+ Gạch trang trí</a>
                                </li>
                                <li class="form-check">
                                    <a href="ListByType?type=Gạch giả gỗ&page=1">+ Gạch giả gỗ</a>
                                </li>

                            </ul>
                        </div>


                        <!-- Sidebar Categorie Start -->
                        <!-- Product Size Start -->
                        <!-- Product Size End -->
                        <!-- Product Color Start -->
                        <!-- Product Color End -->
                        <!-- Product Top Start -->
                        <!-- Product Top End -->
                        <!-- Single Banner Start -->
                        <div class="col-img">
                            <a href="ProductLists?page=1">
                                <img src="img/banner/khuyenmaigachnhap-01.webp"
                                     alt="slider-banner">
                            </a>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                </div>
                <!-- Sidebar Shopping Option End -->
                <!-- Product Categorie List Start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <!-- Grid & List View Start -->
                    <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">

                        <!-- Toolbar Short Area Start -->
                        <div class="main-toolbar-sorter clearfix">

                            <!-- Toolbar Short Area End -->
                            <!-- Toolbar Short Area Start -->
                            <!-- Toolbar Short Area End -->
                            <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                                <div class="grid-list-view  mb-sm-15">
                                    <ul class="nav tabs-area d-flex align-items-center">
                                        <li><a class="active" data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a></li>
                                        <li><a data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                                    </ul>
                                </div>
                                <!-- Toolbar Short Area Start -->
                                <div class="main-toolbar-sorter clearfix">
                                    <div class="toolbar-sorter d-flex align-items-center">
                                        <form asp-action="Index" asp-controller="Product" style="display:inherit">
                                            <label>Sắp xếp:</label>
                                            <select id="sort" class="sorter wide" onchange="this.form.submit()" name="sort">
                                                <option value="price_lowest" selected="@(ViewData["selectedSort"].ToString() == "price_lowest")">Giá: Thấp đến cao</option>
                                                <option value="price_highest" selected="@(ViewData["selectedSort"].ToString() == "price_highest")">Giá: Cao đến thấp</option>
                                                <option value="name_asc" selected="@(ViewData["selectedSort"].ToString() == "name_asc")">Tên: A-Z</option>
                                                <option value="name_desc" selected="@(ViewData["selectedSort"].ToString() == "name_desc")">Tên: Z-A</option>
                                            </select>

                                        </form>
                                      
                                    </div>
                                </div>
                                <!-- Toolbar Short Area End -->
                                <!-- Toolbar Short Area Start -->
                                <div class="main-toolbar-sorter clearfix">
                                    <div class="toolbar-sorter d-flex align-items-center">
                                        <form asp-controller="Product" asp-action="Index" style="display:inherit">
                                            <label >Hiển thị:</label>
                                            <select id="show" class="sorter wide" onchange="this.form.submit()" name="pageSize">
                                                <option value="9" selected="@(ViewData["selectedPageSize"].ToString() == "9")">9</option>
                                                <option value="15" selected="@(ViewData["selectedPageSize"].ToString() == "15")">15</option>
                                                <option value="25" selected="@(ViewData["selectedPageSize"].ToString() == "25")">25</option>
                                                <option value="50" selected="@(ViewData["selectedPageSize"].ToString() == "20")">50</option>
                                            </select>

                                        </form>
                                    </div>
                                </div>
                                <!-- Toolbar Short Area End -->
                            </div>
                            <!-- Grid & List View End -->
                            <div class="main-categorie mb-all-40">
                                <!-- Grid & List Main Area End -->
                                <div class="tab-content fix">
                                    
                                    <div id="grid-view" class="tab-pane fade show active">
                                        <div class="row">
                                            <!-- Single Product Start -->
                                            @foreach(var p in Model.Products)
                                            {
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                <div class="single-product">
                                                    <!-- Product Image Start -->
                                                    <div class="pro-img">
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@p.Id">
                                                            <img class="primary-img"
                                                                 src="@p.Image.First"
                                                                 alt="single-product">
                                                            <img class="secondary-img"
                                                                 src="@p.Image.Second"
                                                                 alt="single-product">
                                                        </a>

                                                    </div>
                                                    <!-- Product Image End -->
                                                    <!-- Product Content Start -->
                                                    <div class="pro-content">
                                                        <div class="pro-info">
                                                            <h4>
                                                                <a href="">@p.Title</a>
                                                            </h4>
                                                            <p>
                                                                    <span class="price">
                                                                        @((p.Price - (p.Price * (p.Sale / 100.0))).ToString("C", culture))
                                                                    </span>

                                                                    @if (p.Sale > 0)
                                                                    {
                                                                        <del class="prev-price">
                                                                            @p.Price.ToString("C", culture)
                                                                        </del>
                                                                    }
                                                                </p>
                                                                @if (p.Sale > 0)
                                                                    {
                                                                <div class="label-product l_sale">
                                                                    @p.Sale<span class="symbol-percent">%</span>
                                                                </div>
                                                                    }
                                                        </div>
                                                        <div class="pro-actions">
                                                            <div class="actions-primary">
                                                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@p.Id"  title="Thêm vào giỏ">
                                                                    + Thêm
                                                                    vào
                                                                    giỏ
                                                                </a>
                                                            </div>
                                                            <div class="actions-primary">
                                                                    <a asp-controller="Cart" asp-action="BuyNow" asp-route-id="@p.Id" title="Mua ngay">
                                                                    Mua
                                                                    ngay
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- Product Content End -->
                                                    <!-- <span class="sticker-new">Mới</span> -->
                                                </div>

                                            </div>
                                            }
                                           
                                            <!-- Single Product End -->
                                            <!-- Single Product Start -->
                                            <!-- Single Product End -->
                                        </div>
                                        <!-- Row End -->
                                    </div>
                                </div>
                                <!-- #grid view End -->

                                <div class="pro-pagination">
                                    <ul class="blog-pagination">
                                        @for(int i = 1; i <= Model.PagingInfo.TotalPage; i++)
                                        {
                                            if (i == Model.PagingInfo.CurrentPage)
                                            {
                                                <li class="active"><a asp-controller="Product" asp-action="Index" asp-route-pageSize="@ViewData["selectedPageSize"]" asp-route-sort="@ViewData["selectedSort"]" asp-route-page="@i">@i</a></li>
                                            }else
                                            {
                                                <li><a asp-controller="Product" asp-action="Index" asp-route-pageSize="@ViewData["selectedPageSize"]" asp-route-sort="@ViewData["selectedSort"]" asp-route-page="@i">@i</a></li>
                                            }
                                        }
                                            @if (Model.PagingInfo.CurrentPage < Model.PagingInfo.TotalPage)
                                            {
                                            <li><a asp-controller="Product" asp-action="Index" asp-route-pageSize="@ViewData["selectedPageSize"]" asp-route-sort="@ViewData["selectedSort"]" asp-route-page="@Url.Content((Model.PagingInfo.CurrentPage + 1).ToString())"><i class="fa fa-angle-right"></i></a></li>
                                            }
@*
                                        <li><a href="#">3</a></li>
                                        <li class="active"><a href="#">1</a></li>*@
                                    </ul>
                                    <div class="product-pagination">
                                        <span class="grid-item-list">Hiển thị 1 đến @Model.PagingInfo.ItemPerPage của @Model.Products.Count() (@Model.PagingInfo.TotalPage)</span>
                                    </div>
                                </div>
                                <!-- #list view End -->
                                <!-- Grid & List Main Area End -->
                            </div>
                        </div>
                        <!-- product Categorie List End -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            


